@inherits LayoutComponentBase

<PageTitle>RedirectMe-BackOffice</PageTitle>

<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <Header SidebarExpanded=sidebarExpanded
                HandleSideBarToogleCallback="HandleSideBarToogle" />
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <div class="p-2">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code{
    bool sidebarExpanded = true;

    public void HandleSideBarToogle()
    {
        sidebarExpanded = !sidebarExpanded;
    }
}